<html>
  <head>
    <title>(@ TMPL_VAR page-title @)</title>
  </head>
  <body>
    <h2>(@ TMPL_VAR text @)</h2>
    <p>
      (@ TMPL_LOOP messages @)
      <br />
      (@ TMPL_IF good-message? @)
      This message is good: (@ TMPL_VAR message @).
      (@ TMPL_ELSE @)
      This message is not good: (@ TMPL_VAR message @).
      (@ /TMPL_IF @)
      (@ /TMPL_LOOP @)
    </p>
  </body>
</html>
